<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="terms">
      <p class="termsTitle">
        ඕනම තැනකට අපි ඩිලිවරි එක දෙනවා ෆුල් සෙට් සහ pc එකට විතරක් අපි ඩිලිවරි එක
        100% නොමිලේ දෙන්නේ..
      </p>
      <ul>
        <li>අනිත් සියලුම උපාංග වලටනම් ඩිලිවරි එකට ඔයාල ගෙවලා ගන්න ඕනේ..</li>
        <li>කෑශ් ඔන් ඩිලිවරි නම් අපි කරන්නේ නෑ..</li>
        <li>බඩු එවීමට පෙර මුදල් බැර කලයුතුයි..</li>
        <li>ඒ සදහා ඔබට අවශ්‍ය ඕනෑම ආකරයක සාධකයක් ( proof ) අපි ලබා දෙනවා..</li>
        <li>
          ඔයාලා මිළදී ගන්න pc එක හෝ full set එක අපි ඇසෙම්බල් කරන එක ඔයාට ගෙදර
          ඉදලා ලයිව් බලන්න පුලුවන් දුර අයනම්..
        </li>
        <li>
          ශොප් එකට ඇවිත්නම් ගන්නේ ඔයා ඉස්සරහම ඇසෙම්බල් කරලා ගන්න පුලුවන්..
        </li>
        <li>
          විස්වාසය මදි වගේනම් ඒත් දවසේ ඕනම වෙලාවක ශොප් එකට ඇවිත් මිළදී ගන්න
          පුලුවන් ඕන විදියකට බලලා කරලා පැය 24ම සර්විස් එක දෙනවා..
        </li>

        <li>
          පැය විසිහතරක් ඇතුලත ඔයාලගෙ ගෙදරටම බඩු ටික එයි..සමහර දුර ප්‍රදේශ වලට
          දවස් දෙකක් යන්න ඉඩ තියනවා කුරියර් සෙට් එක පිස්සු කෙලියොත්.
        </li>

        <li>
          කුරියර් එකෙන් ඔයාගේ අතට බඩු ලැබෙනකල්ම ප්‍රවාහනය සම්බන්ධයෙන් ඇති වන
          සියලු ගැටලු සදහා අපි වගකීම ලබා ගන්නවා..
        </li>

        <li>
          ප්‍රවාහනයෙදී බඩු කැඩිලා බිදිලා තිබ්බොත් කුරියර් එකත් එක්ක ඒක බලා ගන්න
          කියලා අපි මග අරින්නේ නෑ ඒකෙත් සම්පූර්ණම වගකීම අපි බලාගන්නවා.
        </li>

        <li>
          මිළදී ගැනීමට බලාපොරොත්තු වෙන අය වට්ස්ඇප් හෝ ඉන්බොක්ස් පැමිනෙන්න..
        </li>
      </ul>
    </div>
  </body>
</html>

<div class="footer">
  <div>
    <p class="semiBoldText">
      <span class="boldText">Name:</span> ${ customerName ? customerName :
      "..........................." }
    </p>
    <div class="address">
      <p><span class="boldText">Address:</span></p>
      <p class="semiBoldText">&nbsp;${address}</p>
    </div>
  </div>
  <div>
    <p class="semiBoldText">
      <span class="boldText">Mobile No:</span> ${displayNumber}
    </p>
    <p class="semiBoldText">
      <span class="boldText">Warranty:</span> ${displayNumber}
    </p>
  </div>
</div>
